html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  height: 50px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.player-info {
  display: flex;
  gap: 20px;
}

.navigation {
  display: flex;
  gap: 20px;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.main-content {
  flex-grow: 1;
  overflow: auto;
}

.centered-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
