body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.race0{ color: #CC00FF}
.race1{ color: #0066CC}
.race2{ color: #FFCC00}
.race3{ color: #CC0033}
.race4{ color: #009933}
.race5{ color: #777777}

.cur::after {
    content: "\00A2";
    padding-left: 1px;
    color: gold;
    text-shadow: 2px 1px 6px #ddbcbc;
}
.tech-table button[disabled] {
    color: grey;
  opacity: 0.5;
  cursor: not-allowed;
}

.split4 {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.split4 > * {
    width: calc(25% - 4 * 10px);
}


.cur {
    color: gold;
}

.cur::after {
    content: "\00A2";
    padding-left: 1px;
    color: gold;
    text-shadow: 2px 1px 6px #ddbcbc;
}


.m::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 0.3em;
    vertical-align: -0.15em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1px;
    box-sizing: border-box;
    border-radius: 5px;
}
/* 0: Produits alimentaires */
.m.m0::before {
    background-image: url("../public/img/goods_sprite.svg#icon-produits-alimentaires");
}

/* 1: Dechets */
.m.m1::before {
    background-image: url("../public/img/goods_sprite.svg#icon-dechets");
}

/* 2: Articles de luxe */
.m.m2::before {
    background-image: url("../public/img/goods_sprite.svg#icon-articles-de-luxe");
}

/* 3: Holofilms et hololivres */
.m.m3::before {
    background-image: url("../public/img/goods_sprite.svg#icon-holofilms-hololivres");
}

/* 4: Systèmes de guidage */
.m.m4::before {
    background-image: url("../public/img/goods_sprite.svg#icon-systemes-de-guidage");
}

/* 5: Médicaments */
.m.m5::before {
    background-image: url("../public/img/goods_sprite.svg#icon-medicaments");
}

/* 6: Logiciels */
.m.m6::before {
    background-image: url("../public/img/goods_sprite.svg#icon-logiciels");
}

/* 7: Robots */
.m.m7::before {
    background-image: url("../public/img/goods_sprite.svg#icon-robots");
}

/* 8: Composants électroniques */
.m.m8::before {
    background-image: url("../public/img/goods_sprite.svg#icon-composants-electroniques");
}

/* 9: Armement et explosifs */
.m.m9::before {
    background-image: url("../public/img/goods_sprite.svg#icon-armement-explosifs");
}

/* 10: Unité energétique */
.m.m10::before {
    background-image: url("../public/img/goods_sprite.svg#icon-unite-energetique");
}

/* 11: Pièces industrielles */
.m.m11::before {
    background-image: url("../public/img/goods_sprite.svg#icon-pieces-industrielles");
}

/* 12: Métaux précieux */
.m.m12::before {
    background-image: url("../public/img/goods_sprite.svg#icon-metaux-precieux");
}

/* 13: Tixium */
.m.m13::before {
    background-image: url("../public/img/goods_sprite.svg#icon-tixium");
}

/* 14: Lixiam */
.m.m14::before {
    background-image: url("../public/img/goods_sprite.svg#icon-lixiam");
}

/* 15: Oxole */
.m.m15::before {
    background-image: url("../public/img/goods_sprite.svg#icon-oxole");
}


.planification_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
}

.planification_table thead th {
    position: sticky;
    top: 0;
    background-color: #111;
    border-bottom: 2px solid #444;
    z-index: 10;
    padding: 8px;
}


.planification_table tbody td:nth-child(2n+3), .planification_table thead th:nth-child(2n+3)  {
    background-color: #00221b;
}
